/*Global*/

:root {
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* apps color */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* size*/
  --size-max-width: 1200px;
  --size-max-width-small: 1080px;
  /*divider*/
  --divider-multi-wave: url('data:images/svg+xml;utf8;,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" ></path> <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5"></path> <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"></path> </svg>');
  /* home gradient background */
  --home-bg-gradient: linear-gradient(
    180deg,
    rgba(6, 29, 71, 1) 0%,
    rgba(5, 10, 19, 1) 100%
  );
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; /*intersectionOb 사용시 부드럽게 스크롤링*/
}
body {
  font-family: 'Open sans', sans-serif;
  margin: 0;
}

/*기본적인 세팅을 초기화해줌*/
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
button:focus {
  outline: 1px solid var(--color-accent);
}

/*common*/
.section {
  /*-> 각 섹션에 스타일 적용*/
  padding: 4rem;
  text-align: center;
}
.title {
  /*-> 각 섹션제목에 스타일 적용*/
  font-size: 2.5rem;
  margin: 1rem 0;
}
.description {
  /*-> 각 섹션내용에 스타일 적용*/
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.max-container-small {
  max-width: var(--size-max-width-small);
  margin: auto;
}
/*header*/

.header {
  z-index: 1; /* skkil like에 filter효과 적용시 index 순서 바꾸어줌*/
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: all 300ms ease;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__logo__title {
  color: var(--color-text);
  font-size: 1.8rem;
}
.header__logo__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.header__menu {
  display: flex;
  gap: 8px;
  padding-right: 15px;
}
.header__menu__item {
  padding: 8px 16px;
  border-bottom: 1px solid transparent;
  /*borderbottom을 transparent로 준 이유는*/
  /*메뉴아이템 hover가 될떄 글꼴이 아래로 밀리는 것 방지를 위한것*/
}
.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}
.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}
.header--dark {
  background-color: var(--color-primary);
  box-shadow: 5px 5px 0px 0px rgba(109, 40, 217);
}
.header__toggleBtn {
  display: none;
}
/*home*/
#home {
  background-color: var(--color-primary);
  background: var(--home-bg-gradient);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
  user-select: none;
  position: relative;
}

.home__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--color-white);
}
.home__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.home__title--strong {
  color: var(--color-accent);
}
.home__description {
  font-size: 1.2rem;
}
.home__contactBtn {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  padding: 0.2rem 0.5rem;
  font-size: 0.85rem;
  font-weight: bold;
  width: 200px;
  height: 40px;
  margin-top: 40px;
  line-height: 36px;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}
.home__contactBtn:hover {
  background-color: transparent;
  outline: 2px solid var(--color-accent);
  color: var(--color-text);
}

.home__divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.home__divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
  transform: rotateY(180deg);
}

.home__divider .shape-fill {
  fill: var(--color-primary-variant);
}

.home__arrow {
  display : block;
  position : relative;
  width : 100%;
  height : 3rem;
  font-size : 2rem;

 
}
/* 움직이는 화살표 애니메이션 */
@keyframes moveArrow{
  0%{top :-1rem;
 }
  50%{ top :0.1rem;
   }
  100%{
    top : 0.5rem;
  }}
.home__arrow i{
position : absolute;
top : 2rem;
animation : 1s infinite alternate moveArrow;
color : rgb(172, 243, 6);
transform : translateX(4.5rem);
}
/*about*/
.intros {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 2.5rem auto;
  font-size: 1.2rem;
}

.intro {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  user-select: none;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  flex-basis: 33.3%;
}

.intro2__subtitle__container {
  position: relative;
  top: 20%;
}
/* .intro:nth-of-type(2) .intro__subtitle {
  margin-top: 5rem;
} */
.intro__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 700ms ease;
}

.intro__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.intro__subtitle {
  font-size: 0.8rem;
}
.intro:hover .intro__icon {
  transform: rotate(-30deg) scale(1.1);
}

/*skills*/

#skills {
  background-color: var(--color-primary);
  color: var(--color-text);
  position: relative;
}
.skills-gridContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border: 2px solid white;
  border-radius: 8px;
  overflow: hidden;
  /*skill__physical 배경색이 튀어나오지 않게 해줌, border-radius만 하면*/
  /*자식요소에 배경색이 튀어나와 border가 매끄럽지 않음*/
  box-shadow: 3px 6px 49px -1px rgba(161, 28, 242, 0.86);
  -webkit-box-shadow: 3px 6px 49px -1px rgba(161, 28, 242, 0.86);
  -moz-box-shadow: 3px 6px 49px -1px rgba(161, 28, 242, 0.86);
}
.skills__title {
  color: var(--color-accent);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.skills__physical .skills__title {
  margin-bottom: 2rem;
}
.skills__physical {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary);
}
.skills__mental {
  padding: 1rem;
}
.skills__like {
  background-color: var(--color-primary);
  filter: brightness(150%);
  padding: 1rem;
  z-index: auto;
}
.skills__divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.skills__divider svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 73px;
}

.skills__divider .shape-fill {
  fill: #ffffff;
}
/*skills bar */
.bar__bg {
  height: 3px;
  background-color: var(--color-primary-variant);
}
.bar__value {
  height: 3px;
  background-color: var(--color-accent);
}
.bar {
  display: flex;
  flex-flow: column;
  gap: 0.1rem;
  padding: 1rem;
}
.bar__metadata {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
  margin-bottom: 0.4rem;
}

/*growth*/
#growth {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  padding: 0.5rem 3rem;
  cursor: pointer;
  white-space: nowrap; /*줄이 길어져도 두줄로 늘어지지 않음*/
}
.category--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.category__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  background-color: var(--color-accent-variant);
  color: var(--color-text);
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  transition: all 300ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
  opacity: 1;
  top: 0;
}
.growth__media__title {
  margin: 1rem auto;
  margin-top: 3rem;
}
/* growth photos */

.growth__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  transition: all 250ms ease-in;
}
.growth__photos.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}
.growth__photo {
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
}
.growth__photo.hide {
  display: none;
}
.growth__image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.growth__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  transform: translateY(-10%);
}
.growth__metadata:hover {
  opacity: 0.7;
  transform: translateY(0%);
}

.growth__title:after {
  content: '';
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--color-accent);
  margin: 0.5rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.photos__explain {
  color: orange;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.growth__media {
  width: 30rem;
  height: 30rem;
  margin: 3rem auto;
}
.growth__media iframe {
  width: 100%;
  height: 100%;
}
/*family*/
.fams {
  margin: 3rem;
}
.fam__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 100%;
  margin: 1rem;
}
.fam:nth-child(1) .fam__image {
  margin-right: 30px;
}
.fam {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.fam:nth-child(even) .fam__image {
  order: 1;
}

.fam__bubble {
  width: 100%;
  padding: 1rem;
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3),
    15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1),
    25px 25px rgba(0, 98, 90, 0.05);
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  font-size: 0.9rem;
  /* white-space: nowrap; */
}
.fam__bubble__name {
  color: var(--color-accent-variant);
  font-weight: bold;
  font-size: 1.1rem;
  filter: brightness(70%);
}

/*contact*/
#birthday {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.birthday__links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
}
.birthday__link {
  transition: color 200ms ease-in;
}
.birthday__link:hover {
  color: var(--color-accent);
}
.birthday__links li:last-child .birthday__link {
  font-size: 0.9rem;
  color: orange;
}
.birthday__link-joyhome{
  border : 1.5px solid var(--color-blue);
  border-radius: 5%;
  padding : 0.2rem;
}
.birthday__description{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,140,169,1) 35%, rgba(0,212,255,1) 150%);
  display:inline-block;
  text-align:left;
  border-radius: 1rem;
  padding : 0rem 1rem;
  border : 2px solid pink;
  color:rgb(179, 255, 0);
  font-weight: bold;
}

/*arrowup*/

.arrowup_link {
  z-index: 20;
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 1.5rem;
  border: 1px solid var(--color-accent-variant);
  border-radius: 100%;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  text-align: center;
  line-height: 70px;
  color: var(--color-accent);
  box-shadow: 5px 5px 0px 0px rgba(109, 40, 217);
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.arrowup_link--movingEvent {
  transform: rotate(360deg);
}
/*responsive web */
@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  #home {
    padding-bottom: 3rem;
  }
  .home__title {
    font-size: 2.4rem;
    margin: 1rem auto;
  }
  .intros {
    flex-direction: column;
    gap: 2rem;
    font-size: 0.8rem;
    height: 50%;
    max-width: 18rem;
  }
  .intro__title {
    font-size: 1.2rem;
  }
  .skills-gridContainer {
    grid-template-columns: 1fr;
    margin: 2rem 1rem;
  }

  .categories {
    flex-direction: column;
  }
  .category {
    width: 70%;
  }
  .growth__photos {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    /* margin: auto 2rem; */
  }
  .growth__photo {
    width: 100%;
  }
  .growth__image {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
  }
  .growth__media {
    width: 18rem;
    height: 33rem;
    margin: 3rem auto;
  }
  .fam {
    flex-flow: column;
  }
  .fam:nth-child(even) .fam__image {
    order: 0;
  }
  .fam:nth-child(1) .fam__image {
    margin: 1rem;
  }
  .fam:nth-child(2),
  .fam:nth-child(3) .fam__image {
    margin: 1rem;
  }

  .fam__bubble {
    padding: 10px;
    font-size: 15px;
    /* white-space: nowrap; */
  }
  .arrowup_link {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
    opacity: 1; /*header가 안 보이게 설정*/
    
  }
  .header--dark {
    background-color: var(--color-primary);
  }
  .header__menu {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 2rem;
    padding-right: 0;
    display: none;
  }
  .header__nav {
    width: 100%;
  }
  .header__toggleBtn {
    display: block;
    color: red;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
  }
  .header__nav.open {
    background-color: var(--color-primary);
  }
  .header__menu.open {
    display: flex;
    background-color: var(--color-primary);
  }
}
